__pycache__/
*.py[cod]

.venv/
venv/
env/

data/
model/
result/

doc/arxiv.sty
doc/template.tex
doc/utils.tex

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
output.bib

.DS_Store
Thumbs.db
